{
 :paths     ["src/clj" "src/cljc" "resources"]
 :deps      {
             org.clojure/clojure           {:mvn/version "1.11.1"}
             org.clojure/data.xml          {:mvn/version "0.0.8"}
             io.github.clojure/tools.build {:mvn/version "0.9.5"}
             com.cleancoders.c3kit/apron   {:mvn/version "2.0.0"}
             }
 :aliases   {
             :test     {:extra-deps  {speclj/speclj                  {:mvn/version "3.4.3"}
                                      ;org.clojure/clojurescript      {:mvn/version "1.11.60"}
                                      }
                        :extra-paths ["src/cljs" "spec/clj" "spec/cljc" "spec/cljs"]}
             ;:cljs     {:main-opts ["-m" "c3kit.scaffold.cljs"]}
             :spec     {:main-opts ["-m" "speclj.main" "-c"]}
             :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.9.5"}}
                     :ns-default build}
             }
 }
